In [1]:
set_countries = {'col', 'ecu', 'esp'}
print(set_countries)

{'esp', 'col', 'ecu'}

In [4]:
set_countries = {'col', 'ecu','esp','ecu', 'bol'}
print(set_countries)
print(type(set_countries))

{'esp', 'col', 'bol', 'ecu'}
<class 'set'>

In [6]:
set_numbers = {1, 2, 50 , 7 , 40}
print(set_numbers)

{1, 2, 50, 7, 40}

In [7]:
set_types = {1, 'hola','2', 'amiga'}
print(set_types)

{'amiga', 1, 'hola', '2'}

In [8]:
set_from_string = set('hola')
print(set_from_string)

{'l', 'o', 'a', 'h'}

In [10]:
set_from_tupla = set(('abc', 'cbv','as', 'abc'))
print(set_from_tupla)

{'abc', 'cbv', 'as'}

In [18]:
numbers = [1, 2, 2 ,3,4,1,3]
set_numbers = set(numbers)
print(set_numbers)
unique_numbers = list(set_numbers)
print(unique_numbers)

{1, 2, 3, 4}
[1, 2, 3, 4]